{% extends "base.html" %}

{% block content %}
<!-- posts -->
{% for post in posts %}
{% include "article_snippet.html" with post=post %}
{% endfor %}
<!-- posts end -->

<!-- pagination -->
{% if page_obj.paginator.num_pages > 1 %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info btn-sm mb-3" href="?page=1">&lt;&lt;</a>
<a class="btn btn-outline-info btn-sm mb-3" href="?page={{page_obj.previous_page_number}}">&lt;</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}

{% if num == page_obj.number %}
<span class="btn btn-info btn-sm mb-3">{{num}}</span>
{% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
<a class="btn btn-outline-info btn-sm mb-3" href="?page={{num}}">{{num}}</a>
{% endif %}

{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-info btn-sm mb-3" href="?page={{page_obj.next_page_number}}">&gt;</a>
<a class="btn btn-outline-info btn-sm mb-3" href="?page={{page_obj.paginator.num_pages}}">&gt;&gt;</a>
{% endif %}

<span class="text-muted ml-3">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

{% endif %}
<!-- pagination end -->
{% endblock content %}